body{
    background-color: #632929;
}

textarea{
    width: 99%; 
    height: 200px; 
    padding: 10px; 
    border: 2px solid #ccc; 
    resize: vertical; 
    font-size: 18px; 
    overflow: auto; 
}

button{
    width: 100px;
    height: 30px;
    font-size: 15px;
}

p{
    font-size: 30px;
    color:white;
}

.btn{
    margin-left: 1400px;
}