textarea{
    width: 99%; 
    height: 200px; 
    padding: 10px; 
    border: 2px solid #ccc; 
    resize: vertical; 
    font-size: 18px; 
    overflow: auto; 
}

button{
    width: 100px;
    height: 50px;
    font-size: 20px;
}

p{
    font-size: 30px;
}