body{
    text-align: center;
    background-color: rgba(86, 18, 9, 1);
}

.container{
    border: white;
    padding: 50px;
    width: 350px;
    margin:100px 0  0 550px; 
    text-align: center;
    background-color: white;
}
.input-field{
    width: 300px;
    height: 30px;
    border-radius: 10px;
}

.submit, button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(86, 18, 9, 1);
    color:white; 
    font-size:20px;
}
.input-container button:hover{
    cursor: pointer;
    background-color: rgb(253, 253, 253);
    color: rgba(86, 18, 9, 1);
}  