body{
    background-color: rgba(86, 18, 9, 1);
}

.navbar {
    background-color: white;
}

.container{
    background-color: white;
    width: 1200px;
    height: 1250px;
}

.input-field{
    width: 300px;
    height: 30px;
    margin-left:55px;
}

.input-container{
    background-color: white;
    margin-left: 510px;
    margin-bottom: 150px;
    
}
.input{
    background-color: white;
    margin-left: 250px;
}
.submit, button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border-color: rgba(86, 18, 9, 1);
    background-color: rgba(86, 18, 9, 1);
}

