.accordion {
  background-color: #884343;
  color: #333;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion.active, .accordion:hover {
  background-color: #945454;
}

.panel {
  font-family: "Georgia", serif;
  padding: 0 18px;
  display: none;
  background-color: rgb(143, 59, 59);
  overflow: hidden;
  border-radius: 20px;
}
body {
  font-family: Arial, sans-serif;
  background-color: rgba(86, 18, 9, 1);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calendar {
  width: 370px;
  padding: 20px;
  background-color: #7c2a2a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-family: Georgia, serif;
  font-size: 20px;
}

.calendar-header button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 18px;
  color: #212121;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-cell {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
}

.calendar-cell:hover {
  background-color: #885252;
  border-radius: 10px;
}

.calendar-cell.clicked {
  background-color: #8e2a2a;
  color: #fff;
}

/* Added */
.calendar-cell .panel {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  z-index: 1;
}
.inactive {
  pointer-events: none;
  opacity: 0.5;
}
