ul{
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 200px 0 0 30px;
    margin: 0 0 0 100px;
}

li .out{
    margin: 80px 0 0 80px;
    padding: 5px;
    width: 100px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #561209;
    cursor: pointer;
}

.item1 { grid-area: menu; }
.item2 { grid-area: main; }
.item3 { grid-area: right; }
.item4 { grid-area: footer; }
.item5 { grid-area: cancel; }
.item6 { grid-area: update; }

.grid-container {
  display: grid;
  grid-template-areas:
    'menu main main right right update'
    'footer footer footer footer footer cancel';
  gap: 0px;
  background-color: #561209;
  padding: 10px;
}

.grid-container > div {
  background-color: white;
  text-align: left;
  padding: 20px 0;
}

p{
    font-size: 20px;
}
