.navbar_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar_top a{
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 30px;
  padding: 30px 0 0 30px;
  margin: 0 0 0 100px;
}

.navbar_top .out{
  margin: 70px 0 0 70px;
  width: 100px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #561209;
  cursor: pointer;
}

.item1 { grid-area: menu; }
.item2 { grid-area: main; }
.item3 { grid-area: right; }
.item4 { grid-area: footer; }
.item5 { grid-area: cancel;}
.item6 { grid-area: update; }

.grid-container {
  display: grid;
  grid-template-areas:
    'menu main main right right update'
    'footer footer footer footer footer cancel';
  gap: 0px;
  background-color: #561209;
  padding: 10px;
  margin: 100px 0 0 0;
}

.grid-container > div {
  background-color: white;
  text-align: left;
  padding: 20px 0;
}

p{
    font-size: 20px;
}

